*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color: #5c48d2;
    font-size: 16px;
    font-family:Verdana, Tahoma, sans-serif, Arial, 
}
/*ICI COMMENCE LE MAINHEADER*/
.titre{
    color: white;
    font-size: 48px;
    text-align: center;
    margin-top: 80px;
    font-weight:800;
}
/*LE MAIN*/
main{
    width: 1024px;
    height: 3400px;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 10%;
}
.nav-bar ul{  
    text-align: center;
    width: 1024px;
}
.nav-bar ul li{
    display: inline-block;
    justify-content: space-between;
    padding: 0 60px;
    line-height: 90px;
}
.nav-bar ul li a{
    color: black;
    font-size: 26px;
}
.nav-bar ul li a:hover{
    color: #5c48d2;
}
/*IMAGE ORDI*/
.computer{
    width: 1024px;
    height: 400px;
    object-fit: cover;
}
/*IMAGE DOG*/

.photoprofil{
    width: 250px;
    height: 250px;
    border: #fcc01a solid 2px; 
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    margin-left: 20%;
    margin-top: 7%;
}
.texte h2{
    font-weight: bold;
    font-size: 48px;
    color: #190f33;
}
.texte h3{
    font-style: italic;
    font-size: 38px;
    color: #190f33;
}
.texte{   
    text-align: center;
    margin-top: -17%;
    margin-left: 30%;
}
/*TEXTE BIO*/
.bio{
    margin-top: 20%;
    margin-left: -33%;
    text-align: start;
}
.bio h4{
    font-weight: bold;
    font-size: 30px;
    color: #190f33;
}
.bio p{
    font-size: 20px;
    text-align: justify;
    margin-top: 20px;
}
/*FORMATION*/
.formation{
    text-align: center;
    height: 19%;
    margin-top: 15%;
    background-color:#eeeef7;
}
.formation h2{
   font-size: 40px;
   font-weight: bold;
   color: #190f33;
   height: 200px;
   line-height: 110px;
}
.formation p{
    font-size: 20px;
    margin-top: -7%;
}
.logo{   
   text-align: center;
   margin-top: -40%;
   display: flex;
   justify-content: space-around;
}
.souslogo{

    margin-top: 2%;
    text-align: center;
    font-size: 20px;
}
.soustexte span{
    color: #190f33;
}
.logo2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 15%;
}
/*PROJETS*/
.projet{
    text-align: center;
    margin-top: 15%;
    margin-left: 5% ;
}
.projet h2{
    color:#190f33;
    font-size: 30px;
    font-weight: bold;
    line-height: 120px;
}
.projet p{
    font-size: 20px ;
}
/*IMAGE PROJETS*/
.trip{
    margin-left: 80px;
    margin-top: 10%; 
}
.leg{
    margin-left: 60%;
    margin-top: -19%;
}
.leg h2{
    font-size: 30px;
    font-weight: bold;   
    line-height: 50px;
}
.leg h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}
/*2e IMAGE*/
.trip2{
    margin-left: 80px;
    margin-top: 20%;
}
.leg2{
    margin-left: 60%;
    margin-top: -19%;
}
.leg2 h2{
    font-size: 30px;
    font-weight: bold;   
    line-height: 50px;
}
.leg2 h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}
/*Contact*/
.contact{
    background: #eeeef7;
    height: 400px;
    margin-top: 25%;
    text-align: center;
}
.contact h2{
    text-align: center;
    line-height: 170px;
    font-size: 48px;
    font-weight:bold  
}
.mail{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.mail p{
    font-size: 18px;
}
.mail img{
    margin-right: 20px;
}
.linkedin{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 100px;
    margin-top: 3%;
}
.linkedin img{
    margin-right: 20px;
}
.linkedin a:hover{
    color: #5c48d2;
}
.linkedin a{
    color: #190f33;
    font-size: 18px;
}
.github{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 100px;
    margin-top: 3%;
}
.github img{
    margin-right: 20px;
}
.github a{
    color: #190f33;
    font-size: 18px;
}
.github a:hover{
    color: #5c48d2;
}